# Python

__pycache__/
*.pyc
*.pyo

# Environnement virtuel
.venv/
.eenv/
venv/
env/

# Assets locaux (images, schémas)
assets/
*.png
*.zdf
*.ply

# MATLAB / cache matplotlib
*.mat
.matplotlib_cache/

# Fichiers temporaires Word / Office
~$*
.DS_Store

# Ignorer scripts de génération et de mise à jour automatique des rapports
scripts/build_*
scripts/update_report*
