# Python

__pycache__/
*.pyc
*.pyo

# Environnement virtuel
.venv/
.eenv/
venv/
env/

# Assets locaux (images, schémas)
assets/
*.png

# MATLAB / cache matplotlib
*.mat
.matplotlib_cache/

# Fichiers temporaires Word / Office
~$*
.DS_Store
